<div class="row">
 <h1>Hard & Soft Skills</h1>
 <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="35"
        [radius]="100"
        [showUnits]="false"
        [titleFontSize]="'2em'"
        [title]="'HTML'"
        [titleColor]="'pink'"
        [showSubtitle]="false" 
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'pink'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
    ></circle-progress>
 </div>
 <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="35"
        [radius]="100"
        [showUnits]="false"
        [titleFontSize]="'2em'"
        [title]="'JavaScript'"
        [titleColor]="'pink'"
        [showSubtitle]="false" 
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'pink'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
    ></circle-progress>
 </div>
 <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="35"
        [radius]="100"
        [showUnits]="false"
        [titleFontSize]="'2em'"
        [title]="'CSS'"
        [titleColor]="'pink'"
        [showSubtitle]="false" 
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'pink'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
    ></circle-progress>
 </div>
 <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="35"
        [radius]="100"
        [showUnits]="false"
        [titleFontSize]="'2em'"
        [title]="'Inglés'"
        [titleColor]="'pink'"
        [showSubtitle]="false" 
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'pink'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
    ></circle-progress>
 </div>
 <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="70"
        [radius]="100"
        [showUnits]="false"
        [titleFontSize]="'2em'"
        [title]="'GitHub'"
        [titleColor]="'pink'"
        [showSubtitle]="false" 
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'pink'"
        [innerStrokeColor]="'#C7E576'"
        [animation]="true"
        [animationDuration]="700">
    </circle-progress>
 </div>
</div>